:root {
  --color-background: white;
  --color-headfoot: silver;
}
body {
  background-color: var(--color-background);
  margin:0%;
}

header {
  background-color: var(--color-headfoot);
  padding: 0.5%;
}

nav {
  display: flex;
  justify-content: space-around;
}


main {
  margin:1%;
}

footer {
  background-color: var(--color-headfoot);
  display: flex;
  justify-content: space-around;
  padding: 0.5%;
}

ul li {
  list-style-type: none;
}