:root {
    --color-sections: silver;
}

section {
    margin: 0px;
    padding: 0px;;
    background-color: var(--color-sections);
}


#profil {
    margin:5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 6rem;
}

#profil>img {
    width: 40%;
}

#formation>div {
    display: flex;
    align-items: center;
}

#formation>div>img {
    width:10%;
    margin-right: 3%;
}

#formation>div>div>* {
    margin-top:3px;
    margin-bottom:3px;
}

#competences>ul>li>ul {
    display: flex;
}

#competences>ul>li>ul>li {
    width: 20%;
    display: flex;
}

#competences p {
    margin-left: 3px;
}

#contact img {
    width: 1%;
}

#portefolio ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

#portefolio ul>li:nth-of-type(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1 ;
}

#portefolio ul>li:nth-of-type(2) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1 ;
}

#portefolio ul>li:nth-of-type(3) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

#portefolio ul>li:nth-of-type(4) {
    grid-column: 1 / span 1;
    grid-row: 2 / span  1 ;
}

#portefolio ul>li:nth-of-type(5) {
    grid-column: 2 / span 1;
    grid-row: 2 / span  1 ;
}

#portefolio ul>li {
    margin-left: 3%;
    margin-right: 3%;
}

#portefolio img {
    width: 100%;
}