/* global */
main {
    padding-left: 5%;
    padding-right: 5%;
}

/* navigation */

nav {
    display:flex;
}

nav>a {
    text-decoration: none;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
  
nav>a:hover {
    background-color: lightgray;
}

/* formation */

#formation img {
    width: 8%;
    align-self:flex-start;
    margin-top: 1%;
}

#formation>div>div {
    display: flex;
}

#formation>div>div:nth-of-type(2) img {
    width: 7%;
}

#formation>div>div>div {
    margin-left: 3%;
}

#formation>div>div:nth-of-type(2)>div {
    margin-left: 4%;
}

/* competences */

#competences>div {
    display: flex;
}

#competences>div>div {
    border-style:solid;
    border-color: lightgray;
    display: flex;
    background-color: white;
    margin: 1%;
    align-self:flex-end;
    align-items: center;
    border-radius: 20px;
}

#competences>div>div:hover {
    background-color: lightgray;
    transform: scale(1.2);
}

#competences img {
    width: 50px;
}



/* projets */

#projets img {
    width: 100%;
}

#projets>div {
    display: flex;
    flex-wrap: wrap;  
}

#projets>div>div {
    display:flex;
    flex-direction: column;

    flex: 0 0 29%;
    background-color: lightgray;
    padding: 1%;
    margin: 1%;
    border-radius: 20px 0px; 
}

#projets>div>div:hover {
    transform: scale(1.1);
}

#projets>div>* {
    justify-content: space-between;
}
